//-  index.pug
doctype html
html
  head
   style
    include ../static/style.css
  body
   h1 Hello World
   p This is a sample Pug template that generates an HTML page with a "Hello World" heading and a paragraph. The included CSS file (style.css) will style the page according to the defined styles.
   script
    include ../static/index.js